<div class="card-placeholder">
    <div class="card-placeholder__wrapper">
        <div *ngIf="false" class="card-placeholder__card card-placeholder__card--front">
            <div class="card-placeholder__elements">
                <div class="card-placeholder__logo">
                    <img src="../../../assets/images/card-logo.svg" alt="">
                </div>
                <div class="card-placeholder__content">
                    <span class="card-placeholder__number">0000 0000 0000 0000</span>
                    <div class="card-placeholder__data">
                        <span class="card-placeholder__owner">Joe Doe</span>
                        <span class="card-placeholder__date">01/24</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="true" class="card-placeholder__card card-placeholder__card--back">
            <div class="card-placeholder__content">
                <span class="card-placeholder__cvc-number">123</span>
            </div>
        </div>
    </div>
</div>